*{
    color: rgb(255, 30, 0);
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
}
.button{
    text-align: center;
    padding: 10px 10px;
        font-size: 20px;
        border: none;
        border-radius: 24cm;
        cursor: pointer;
        background: #000;
}
.button:hover{
    color: aqua;
    background: #06db3b;
}
.button:active{
    background: whitesmoke;
}